In [ ]:
import pandas as pd

df = pd.read_csv("vgsales.csv")

df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
df = df.dropna(subset=["Publisher"]) # removes rows with missing Publisher

In [ ]:
# Remove non-numeric entries and missing values
df["Year"] = pd.to_numeric(df["Year"], errors="coerce") # "coerce" converts invalid text to NaN

C:\Users\Justine Mae\AppData\Local\Temp\ipykernel_14056\4287365604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = pd.to_numeric(df_vgsales["Year"], errors="coerce")

In [ ]:
df = df.dropna(subset=["Year"]) # drops rows where year is NaN

In [ ]:
df["Year"] = df["Year"].astype(int) # converts to integer safely

In [41]:
# standardize text columns
df["Name"] = df["Name"].str.strip()
df["Platform"] = df["Platform"].str.upper()
df["Genre"] = df["Genre"].str.title()
df["Publisher"] = df["Publisher"].str.title()

In [42]:
# aggregated datasets
# Aggregation - combining multiple rows into a single row (e.g., all rows having year 2005 will be combined)
sales_by_year = df.groupby("Year")["Global_Sales"].sum().reset_index() # shows total global sales trend over time
sales_by_year

    Year  Global_Sales
0   1980         11.38
1   1981         35.77
2   1982         28.86
3   1983         16.79
4   1984         50.36
5   1985         53.94
6   1986         37.07
7   1987         21.74
8   1988         47.22
9   1989         73.45
10  1990         49.39
11  1991         32.23
12  1992         76.16
13  1993         45.98
14  1994         79.17
15  1995         88.11
16  1996        199.15
17  1997        200.98
18  1998        256.47
19  1999        251.27
20  2000        201.56
21  2001        331.47
22  2002        395.52
23  2003        357.85
24  2004        414.01
25  2005        458.51
26  2006        521.04
27  2007        609.92
28  2008        678.90
29  2009        667.30
30  2010        600.29
31  2011        515.80
32  2012        363.49
33  2013        368.11
34  2014        337.03
35  2015        264.44
36  2016         70.90
37  2017          0.05
38  2020          0.29

In [53]:
top_games = df.sort_values(by="Global_Sales", ascending=False).head(10) # sort in greatest to smallest
top_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [54]:
sales_by_genre = df.groupby("Genre")["Global_Sales"].sum().reset_index()
sales_by_genre

           Genre  Global_Sales
0         Action       1751.18
1      Adventure        239.04
2       Fighting        448.91
3           Misc        809.96
4       Platform        831.37
5         Puzzle        244.95
6         Racing        732.04
7   Role-Playing        927.37
8        Shooter       1037.37
9     Simulation        392.20
10        Sports       1330.93
11      Strategy        175.12

In [55]:
# save to csv
df.to_csv("vgsales_clean.csv", index=False)
sales_by_year.to_csv("sales_by_year.csv", index=False)
top_games.to_csv("top_games.csv", index=False)
sales_by_genre.to_csv("sales_by_genre.csv", index=False)

In [56]:
df = pd.read_csv("your_file.csv")
print(df["Genre"].head()) 
# I only did this when the sales by Genre mysteriously gave me blank column. 
# This is to check if the Genre column accidentally became all NaN

FileNotFoundError: [Errno 2] No such file or directory: 'your_file.csv'